body{
    margin: 0;
    padding: 0;
}

#game-screen{
    display: block;
}
#gameOver, #playHUD {
    position: absolute;
    visibility: hidden;
}

h1, h2, h3{
    font-family: 'Permanent Marker', cursive;
    color: whitesmoke;
    text-align: center;
}

.title{
    font-size: 70px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton{
    border: 2px black solid;
    border-radius: 10px;
}

#restartButton:hover {
    background-color: darkred;
}

#scoreboard{
    margin: 0px;
}


